# ---------------------------------
# 1. Data Files (Heavy/Sensitive)
# ---------------------------------
*.csv
*.xlsx
data/
raw_data/

# ---------------------------------
# 2. Generated Output & Reports
# ---------------------------------

reports/

# ---------------------------------
# 3. Private/Course Files
# ---------------------------------

Course Project.pdf

# ---------------------------------
# 4. Virtual Environment
# ---------------------------------

venv/
env/
.env

# ---------------------------------
# 5. Jupyter Notebooks Junk
# ---------------------------------
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ---------------------------------
# 6. Python Cache
# ---------------------------------
__pycache__/
*.py[cod]

# ---------------------------------
# 7. OS System Files
# ---------------------------------
.DS_Store
Thumbs.db